---
// component import
import PostHeader from "../components/PostHeader.astro";
import MainLayout from "./MainLayout.astro";

const {frontmatter} = Astro.props;
const { title, description, date, category, author, image } = frontmatter;
---

<MainLayout {title} {description}>
  <PostHeader 
  {title} {description} {date} {category} {image} {author}
  />
  <div class="post-content text-xl text-justify container mx-auto mt-2 font-figtree font-medium text-blue-950 px-8">
    <div class="contet">
      <slot />
    </div>
  </div>
</MainLayout>